*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('./font/ethnocentric-rg.woff') format('woff'), url('./font/ethnocentric-rg.woff2') format('woff2');
    
    font-family: 'Poppins';
    src: url('./font/Poppins-Regular.woff') format('woff'), url('./font/Poppins-Regular.woff2') format('woff2');
    
    font-family: 'Poppins-Bold';
    src: url('./font/Poppins-Bold.woff') format('woff'), url('./font/Poppins-Bold.woff2') format('woff2');

}

html {
    margin: 0;
    padding: 0;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins';

}

section {
    margin: 0;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* barre de scroll*/

*::-webkit-scrollbar {
    width: 1px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 10px #fff, 0 0 11px #fff, 0 0 30px #45a6eb, 0 0 50px #45abeb, 0 0 60px #459beb;
}


/* Section 1 - page d'accueil */

.fond1 {
    background-image: url(./img/GRAP.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    z-index: 0;
}

h1 {
    font-size: 8.331rem;
    margin: 0;
}

section{
    position: relative;
}

img{
    position: absolute;
}

p {
    position: absolute;
    z-index: 1;
    color: white;
    font-family: 'Poppins-Bold';
    text-transform: uppercase;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -88%);
}

.strokeleft{
    left: 3%;
    top: 85%;
}

.strokeright{
    right: 3%;
    bottom: 85%;
}


/* bouton de scroll */

a.scroll {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    z-index: 2;
    transform: translate(-50%);
    cursor: pointer;
}

a.scroll span {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 50px;
    height: 50px;
    margin-left: -1.563rem;
    transform: rotate(-45deg);
    -webkit-animation: btnscroll 1s infinite ease;
    animation: btnscroll 1s infinite ease;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

@keyframes btnscroll {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}


/* Section 2 - Graphique */

.fond2 {
    height: 100vh;
    width: 100%;

}

.strokeleft2{
    left: 3%;
    top: 85%
}

.strokeright2{
    right: 3%;
    bottom: 85%;
}

#section2{
    text-align: end;
    padding-top: 5rem;
    margin-right: 6.25rem;
    font-family: 'Ethnocentric';
}

.tube{
    color: #8A6E56;
}