*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Goldman';
    src: url('./font/Goldman-Regular.ttf') format('ttf');
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.fond {
    background-image: url(./img/cassette.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}

h1 {
    font-size: 8.331rem;
    font-family: 'Goldman';
    color: white;
    text-transform: uppercase;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

p {
    position: absolute;
    z-index: 1;
    color: white;
    font-family: 'Goldman';
    text-transform: uppercase;
    top: 90%;
    left: 50%;
    transform: translate(-90%,-50%);
}

a.scroll {
    position: absolute;
    bottom: 80px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%);
    cursor: pointer;
}

/* le position absolute se positionne par rapport au body parce qu'il y n'a aucun ancêtre positionné 
un carré a fait une rotation et on garde que 2 bordures*/

a.scroll span {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    transform: rotate(-45deg);
    -webkit-animation: btnscroll 1s infinite ease;
    animation: btnscroll 1s infinite ease;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

@keyframes btnscroll {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}