*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('./font/ethnocentric-rg.woff') format('woff'), url('./font/ethnocentric-rg.woff2') format('woff2');

    font-family: 'Poppins';
    src: url('./font/Poppins-Regular.woff') format('woff'), url('./font/Poppins-Regular.woff2') format('woff2');

    font-family: 'Poppins-Bold';
    src: url('./font/Poppins-Bold.woff') format('woff'), url('./font/Poppins-Bold.woff2') format('woff2');

    font-family: 'Poppins-SemiBold';
    src: url('./font/Poppins-SemiBold.woff') format('woff'), url('./font/Poppins-SemiBold.woff2') format('woff2');

}

html {
    margin: 0;
    padding: 0;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins';
    z-index: 0;
    overflow-x: hidden;

}

section {
    position: relative;
    margin: 0;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    z-index: 0;
}

/* Barre de scroll*/

/* Cacher l'ancienne barre */

*::-webkit-scrollbar {
    width: 0px;
}

/* Section 1 - page d'accueil */

.fond1 {
    background-image: url(./img/GRAP.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    z-index: 0;
}

img {
    position: absolute;
}

.strokeleft {
    left: 3%;
    top: 85%;
}

.strokeright {
    right: 3%;
    bottom: 85%;
}


/* Bouton de scroll */

.explore {
    position: absolute;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -88%);
}

.bouton1 {
    color: white;
    text-decoration: none;
}

.bouton1:hover {
    color: white;
    text-decoration: none;
}

a.scroll {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    z-index: 2;
    transform: translate(-50%);
    cursor: pointer;
}

a.scroll span {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 50px;
    height: 50px;
    margin-left: -1.563rem;
    transform: rotate(-45deg);
    -webkit-animation: btnscroll 1s infinite ease;
    animation: btnscroll 1s infinite ease;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

@keyframes btnscroll {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

/* Section explication */

#section1 {
    background-color: black;
    color: white;
    z-index: 0;
}


.grid {
    display: flex;
    transition: transform 0.5s ease;
    padding-top: 13rem;
    margin-bottom: 0;

}

.g-rap {
    margin: auto;
    transition: 0.5s ease-in-out;

}

#explication {
    position: absolute;
    font-size: 0.6rem;
    width: 320px;
    left: 50%;
    padding-top: 18px;
    opacity: 0;
    /* transition: opacity 1s ease-in-out; */
}

.g-rap:hover {
    transform: translateX(-50%);
    cursor: pointer;
}

.taille100 {
    display: flex;
}

.poppins100 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Poppins-SemiBold';
    line-height: 1;
}

.ethno100 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Ethnocentric';
    line-height: 0.1;
}

.poppins400 {
    font-family: 'Poppins-SemiBold';
    line-height: 0;
    font-size: 11.5rem;
    margin-top: 115px;
}


/* Section 2 - Graphique */

.strokeleft2 {
    left: 3%;
    top: 85%;
}

.strokeright2 {
    right: 3%;
    bottom: 85%;
}

svg {
    transform: translate(20%, -2%);
}

#section2 {
    text-align: end;
    padding-top: 6rem;
    margin-right: 6.25rem;
    font-family: 'Ethnocentric';
    text-transform: uppercase;
    font-size: 1.25rem;
    z-index: 0;
}

.tube {
    color: #8A6E56;
}

.nb-ecoute {
    font-size: 0.75rem;
    position: absolute;
    font-weight: 600;
    text-transform: uppercase;
    top: 7rem;
    left: 11rem;
}

.annee {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: end;
    position: relative;
    right: 25rem;
    bottom: 8rem;
}

.miniature {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    position: absolute;
    right: 8%;
    top: 35%;
}

.media_body {
    margin-left: 96px;
    max-width: 15.625rem;
}

.media_body h1 {
    font-size: 0.9rem;
    margin-bottom: 0;

}

#image-miniature {
    width: 76px;
    top: 5%;
}

.description {
    margin-top: 0;

}

/* Section 3 - Rappeurs */


#section-3 {
    position: relative;
    background-color: black;
    z-index: 0;
    color: white;
}

h2 {
    padding-top: 0.313rem;
    font-size: 1.2rem;
    font-family: "Ethnocentric";
}

.contenu {
    margin-left: 3.75rem;
    padding-top: 3.75rem;
}

.contenu h1 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 800;
}

.titre {
    font-size: 1.5rem;
    max-width: 1000px;

}

.image {
    height: 100vh;
    right: 0;
    z-index: -1;
}

.artista {
    color: #8A6E56;
}

h3 {
    margin-top: 2rem;
    font-size: 0.75rem;
}

.bio {
    max-width: 50vw;
    font-size: 0.75rem;
}

iframe {
    margin-top: 1.5rem;
    max-width: 23rem;
    height: 10rem;
}

/*Section 4 - About*/

.about-h2 {
    font-family: "Ethnocentric";
    margin-left: 6.25rem;
    padding-top: 6rem;
    font-size: 1.25rem;
}

.about-h3 {
    font-family: "Ethnocentric";
    margin-top: 3rem;
    margin-left: 6.25rem;
}

.about-p {
    margin-left: 6.25rem;
    font-size: 0.75rem;
}

a {
    color: black;
}

a:hover {
    color: #8A6E56;
    transition: ease-in-out;
    text-decoration: underline;
}

.logo_noir {
    width: 25vw;
    top: 20%;
    right: 0;
    margin-right: 11.25rem;
}

.mentions-légale {
    padding-top: 20px;
    font-family: 'Ethnocentric';
    font-size: 0.938rem;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.mentions-légale p:hover {
    color: #8A6E56;
    transition: ease-in-out;
    text-decoration: underline;
}

/*Popup et contenu*/
.popup-visible {
    z-index: 999;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    overflow-y: scroll;
    background-color: rgb(0, 0, 0);
    line-height: 2.5rem;
}

.popup-visible img {
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 3%;
    top: 5%;
    position: fixed;
}

.mention {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
}

h4 {
    text-align: center;
}

.mention p {
    text-align: left;
    font-weight: 400;
    line-height: 2;
}

.croix {
    position: fixed;
}

.strokeup {
    left: 3%;
    bottom: 85%;
}

.strokedown {
    right: 3%;
    top: 85%;
}

/* Responsive */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #section2 {
        font-size: 1em;
    }

    svg {
        transform: translate(30%, 20%);
    }

    .nb-ecoute {
        top: 10rem;
        left: 10rem;
        font-size: 0.6em;
    }

    .annee {
        font-size: 0.6em;
        right: 10rem;
        bottom: 0rem;
    }


    .bio {
        max-width: 70vw;
        font-size: 0.6em;
    }

    .titre {
        font-size: 1em;
    }

    .about-p {
        max-width: 50vw;
        font-size: 0.6em;
    }

    .logo_noir {
        margin-right: 7rem;
        width: 15vw;
    }

    .media_body {
        margin-left: 50px;
    }

    .media_body h1 {
        font-size: 0.6rem;
        max-width: 16rem;

    }

    #image-miniature {
        width: 35px;
    }

    .miniature {
        right: 3%;

    }

    #description {
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1253px) {
    .bio {
        max-width: 70vw;
        font-size: 0.7em;
    }

    .logo_noir {
        margin-right: 7rem;
        width: 20vw;
    }

    .about-p {
        max-width: 50vw;
        font-size: 0.7em;
    }

    svg {
        transform: translate(25%, 10%);
    }

    .nb-ecoute {
        top: 11rem;
    }

    .annee {
        right: 18rem;
        bottom: 2rem;
    }

    .poppins400 {
        font-size: 19rem;
        margin-top: 185px;
    }

    .poppins100 {
        font-size: 5rem;
    }


    .grid{
        padding-top: 10rem;
    }

    #explication{
        font-size: 0.7rem;
        padding-top: 65px;
        left: 55%;
    }

    .g-rap:hover {
        transform: translateX(-40%);
    }


    .media_body {
        margin-left: 80px;
    }

    .media_body h1 {
        font-size: 0.8rem;
        max-width: 13rem;

    }

    #image-miniature {
        width: 60px;
    }

    .miniature {
        right: 7%;

    }

    #description {
        font-size: 0.8rem;
        max-width: 15rem;

    }
}

@media screen and (min-width: 1254px) and (max-width: 1919px) {

    .nb-ecoute {
        top: 8rem;
    }

    .annee {
        right: 17rem;
        bottom: 8rem;
    }

    .poppins100{
        font-size: 6rem;
    }

    .poppins400{
        font-size: 23rem;
        margin-top: 220px;
    }

    .ethno100{
        font-size: 5rem;
    }

    .grid{
        padding-top: 8rem;
    }

    .g-rap:hover {
        transform: translateX(-30%);
    }

    #explication{
        font-size: 0.75rem;
        left: 60%;
        padding-top: 75px;
    }

    #description{
        font-size: 0.75rem;
    }


}

@media screen and (min-width: 1920px) {

    .bio,
    h3,
    .about-p {
        font-size: 1.15rem;
        max-width: 60vw;
    }

    .about-h2,
    .titre {
        font-size: 2rem;
    }

    .annee {
        bottom: 10rem;
        right: 30rem;
    }

    .nb-ecoute {
        top: 9rem;
    }

    #explication{
        font-size: 1.15rem;
        width: 500px;
        left: 60%;
        padding-top: 110px ;
    }

    .poppins100{
        font-size: 9rem;
    }

    .ethno100{
        font-size: 8rem;
    }


    .poppins400{
        font-size: 35rem;
        margin-top: 334px;
    }

    .g-rap:hover {
        transform: translateX(-30%);
    }

    .grid{
        padding-top: 8rem;
    }
}